.loading {
  animation: spin 2.5s linear infinite;
  font-weight: bold;
  font-size: 50px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 40%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}